<!DOCTYPE html>
<html>
    <head>
        <title>Timestamp microservice</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Timestamp microservice</h1>
        <h2>Example usage</h2>
        <a href="/timestamp/api/2018-08-02">[project-url]/timestamp/api/2018-08-02</a>
        <a href="/timestamp/api/1533168000000">[project-url]/timestamp/api/1533168000000</a>
    </body>
</html>