body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F9F9;
    text-align: center;
    font-size: 15px;
}

.output-example {
    background-color: #EBEDEF;
}

ul {
    list-style-type: none;
}